# Assignment 5 Toddler Project
*Note: I did have to swap datasets however the topic of basketball remains the same this was due to the previous dataset containing historical data that would be very difficult to emulate today additionally new scripts will be created to accomodate this.*

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np
import os

In [2]:
reg = pd.read_csv("../CleanData/Regular_Season_Cleaned.csv", encoding="ISO-8859-1")
po = pd.read_csv("../CleanData/Playoffs_Cleaned.csv", encoding="ISO-8859-1")

## Brief Summary of the Current Data

### Regular Season Data

In [3]:
reg.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,24,TOT,74,18,21.9,3.2,6.3,...,0.62,2.6,4.0,6.6,1.3,0.6,0.9,1.1,1.9,7.6
1,1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,...,0.57,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7
2,1,Precious Achiuwa,PF,24,NYK,49,18,24.2,3.2,6.1,...,0.64,2.9,4.3,7.2,1.1,0.6,1.1,1.1,2.1,7.6
3,2,Bam Adebayo,C,26,MIA,71,71,34.0,7.5,14.3,...,0.76,2.2,8.1,10.4,3.9,1.1,0.9,2.3,2.2,19.3
4,3,Ochai Agbaji,SG,23,TOT,78,28,21.0,2.3,5.6,...,0.66,0.9,1.8,2.8,1.1,0.6,0.6,0.8,1.5,5.8

In [4]:
reg.describe()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,...,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
mean,282.209524,26.155102,40.880272,18.440816,18.264762,2.972789,6.423401,0.442680,0.909116,2.582449,...,0.689483,0.822041,2.423265,3.239184,1.934150,0.587347,0.383946,0.943946,1.456735,8.022313
std,166.858903,4.371745,25.581293,25.024108,9.735524,2.356999,4.783384,0.119471,0.848969,2.166629,...,0.255155,0.732770,1.741203,2.320766,1.800255,0.393774,0.400733,0.758414,0.784284,6.481825
min,1.000000,19.000000,1.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,140.500000,23.000000,17.000000,0.000000,10.600000,1.300000,3.000000,0.400000,0.200000,0.900000,...,0.660000,0.300000,1.100000,1.600000,0.700000,0.300000,0.100000,0.400000,0.900000,3.400000
50%,290.000000,25.000000,41.000000,5.000000,17.200000,2.300000,5.000000,0.450000,0.700000,2.100000,...,0.760000,0.600000,2.100000,2.800000,1.300000,0.500000,0.300000,0.700000,1.400000,6.100000
75%,423.500000,29.000000,64.500000,29.000000,26.450000,4.150000,8.700000,0.500000,1.400000,3.700000,...,0.830000,1.100000,3.350000,4.300000,2.600000,0.800000,0.500000,1.300000,2.000000,11.050000
max,572.000000,39.000000,84.000000,82.000000,37.800000,11.500000,23.600000,0.800000,4.800000,11.800000,...,1.000000,4.600000,10.100000,13.700000,10.900000,2.100000,3.600000,4.400000,3.600000,34.700000

### Playoff Data

In [5]:
po.describe()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,214.000000,214.00000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,...,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,107.500000,26.88785,7.873832,3.831776,19.960280,3.101402,6.843925,0.407664,0.920561,2.700935,...,0.582056,0.829439,2.642523,3.467290,1.807944,0.538318,0.383178,0.965888,1.598131,8.445327
std,61.920648,4.55705,5.471906,5.827708,13.423708,3.023468,6.174591,0.185571,0.964169,2.492373,...,0.365385,0.917755,2.301707,2.975811,1.999526,0.499605,0.462385,0.958189,1.156243,8.244609
min,1.000000,19.00000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,54.250000,23.00000,4.000000,0.000000,6.100000,0.700000,1.725000,0.332500,0.000000,0.525000,...,0.380000,0.200000,1.000000,1.000000,0.400000,0.100000,0.000000,0.300000,0.550000,1.800000
50%,107.500000,26.00000,6.000000,0.000000,18.850000,2.000000,4.950000,0.430000,0.600000,2.100000,...,0.710000,0.500000,2.050000,2.800000,1.000000,0.400000,0.200000,0.700000,1.500000,5.650000
75%,160.750000,30.00000,11.750000,6.000000,33.525000,4.775000,10.450000,0.500000,1.500000,4.275000,...,0.867500,1.175000,3.750000,4.800000,2.300000,0.900000,0.500000,1.475000,2.450000,13.000000
max,214.000000,39.00000,22.000000,22.000000,44.500000,11.800000,26.200000,1.000000,5.000000,12.000000,...,1.000000,4.500000,12.600000,15.600000,8.800000,2.400000,2.500000,4.600000,4.500000,33.000000

In [6]:
po.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,24,NYK,9,2,20.4,2.3,4.8,...,0.38,2.4,1.8,4.2,0.6,0.4,1.3,0.4,2.2,5.2
1,2,Bam Adebayo,C,26,MIA,5,5,38.4,9.6,19.4,...,0.71,2.2,7.2,9.4,3.8,0.4,0.0,1.6,3.0,22.6
2,3,Nickeil Alexander-Walker,SG,25,MIN,16,1,23.6,2.6,7.0,...,1.00,0.3,1.4,1.8,2.3,0.6,0.4,0.9,1.5,7.3
3,4,Grayson Allen,SG,28,PHO,2,2,21.5,0.5,2.5,...,1.00,1.0,3.0,4.0,1.0,0.5,0.0,1.5,2.0,3.5
4,5,Jarrett Allen,C,25,CLE,4,4,31.8,6.3,9.3,...,0.69,3.8,10.0,13.8,1.3,1.3,1.0,1.3,2.0,17.0

## Renaming the columns to (R) Regular Season (P) Playoffs
As all of the columns between these datasets are the same just for different time periods adding the R/P destinction would help for analysis.

In [7]:
rename_columns = {
    "Pos": "Pos_R",
    "Age": "Age_R",
    "G": "G_R",
    "GS": "GS_R",
    "MP": "MP_R",
    "FG": "FG_R",
    "FGA": "FGA_R",
    "FG%": "FG%_R",
    "3P": "3P_R",
    "3PA": "3PA_R",
    "3P%": "3P%_R",
    "2P": "2P_R",
    "2PA": "2PA_R",
    "2P%": "2P%_R",
    "eFG%": "eFG%_R",
    "FT": "FT_R",
    "FTA": "FTA_R",
    "FT%": "FT%_R",
    "ORB": "ORB_R",
    "DRB": "DRB_R",
    "TRB": "TRB_R",
    "AST": "AST_R",
    "STL": "STL_R",
    "BLK": "BLK_R",
    "TOV": "TOV_R",
    "PF": "PF_R",
    "PTS": "PTS_R"
}

reg.rename(columns=rename_columns, inplace=True)

In [8]:
rename_columns_playoffs = {
    "Pos": "Pos_P",
    "Age": "Age_P",
    "G": "G_P",
    "GS": "GS_P",
    "MP": "MP_P",
    "FG": "FG_P",
    "FGA": "FGA_P",
    "FG%": "FG%_P",
    "3P": "3P_P",
    "3PA": "3PA_P",
    "3P%": "3P%_P",
    "2P": "2P_P",
    "2PA": "2PA_P",
    "2P%": "2P%_P",
    "eFG%": "eFG%_P",
    "FT": "FT_P",
    "FTA": "FTA_P",
    "FT%": "FT%_P",
    "ORB": "ORB_P",
    "DRB": "DRB_P",
    "TRB": "TRB_P",
    "AST": "AST_P",
    "STL": "STL_P",
    "BLK": "BLK_P",
    "TOV": "TOV_P",
    "PF": "PF_P",
    "PTS": "PTS_P"
}

po.rename(columns=rename_columns_playoffs, inplace=True)

## Removing the RK Column
The RK column is used to identify players however due to the merge we will no longer need this column.

In [9]:
reg = reg.drop(columns=["Rk"])
po = po.drop(columns=["Rk"])

### Results

In [10]:
po.head()

,Player,Pos_P,Age_P,Tm,G_P,GS_P,MP_P,FG_P,FGA_P,FG%_P,...,FT%_P,ORB_P,DRB_P,TRB_P,AST_P,STL_P,BLK_P,TOV_P,PF_P,PTS_P
0,Precious Achiuwa,PF,24,NYK,9,2,20.4,2.3,4.8,0.49,...,0.38,2.4,1.8,4.2,0.6,0.4,1.3,0.4,2.2,5.2
1,Bam Adebayo,C,26,MIA,5,5,38.4,9.6,19.4,0.50,...,0.71,2.2,7.2,9.4,3.8,0.4,0.0,1.6,3.0,22.6
2,Nickeil Alexander-Walker,SG,25,MIN,16,1,23.6,2.6,7.0,0.37,...,1.00,0.3,1.4,1.8,2.3,0.6,0.4,0.9,1.5,7.3
3,Grayson Allen,SG,28,PHO,2,2,21.5,0.5,2.5,0.20,...,1.00,1.0,3.0,4.0,1.0,0.5,0.0,1.5,2.0,3.5
4,Jarrett Allen,C,25,CLE,4,4,31.8,6.3,9.3,0.68,...,0.69,3.8,10.0,13.8,1.3,1.3,1.0,1.3,2.0,17.0

In [11]:
reg.head()

,Player,Pos_R,Age_R,Tm,G_R,GS_R,MP_R,FG_R,FGA_R,FG%_R,...,FT%_R,ORB_R,DRB_R,TRB_R,AST_R,STL_R,BLK_R,TOV_R,PF_R,PTS_R
0,Precious Achiuwa,PF,24,TOT,74,18,21.9,3.2,6.3,0.50,...,0.62,2.6,4.0,6.6,1.3,0.6,0.9,1.1,1.9,7.6
1,Precious Achiuwa,C,24,TOR,25,0,17.5,3.1,6.8,0.46,...,0.57,2.0,3.4,5.4,1.8,0.6,0.5,1.2,1.6,7.7
2,Precious Achiuwa,PF,24,NYK,49,18,24.2,3.2,6.1,0.52,...,0.64,2.9,4.3,7.2,1.1,0.6,1.1,1.1,2.1,7.6
3,Bam Adebayo,C,26,MIA,71,71,34.0,7.5,14.3,0.52,...,0.76,2.2,8.1,10.4,3.9,1.1,0.9,2.3,2.2,19.3
4,Ochai Agbaji,SG,23,TOT,78,28,21.0,2.3,5.6,0.41,...,0.66,0.9,1.8,2.8,1.1,0.6,0.6,0.8,1.5,5.8

## Joining the 2 Datasets
I chose to do an inner merge on both the player and team column to remove the players that did not play in the playoffs. Additionally, this helps us track the stats for most recent team a player has played for.

Example Situations:

1. Player A gets traded mid season from Team A to Team B = Only Player A's stats from Team B will be kept

2. Player A played in the regular season but did not make the playoffs = player A stats are removed

Doing this makes the data perfect for comparing regular and playoff stats without the unessecary data or NULL values for players that did not make the playoffs.

In [14]:
merged_data = pd.merge(reg, po, on=['Player', 'Tm'], how='inner')

In [13]:
merged_data.head()

,Player,Pos_R,Age_R,Tm,G_R,GS_R,MP_R,FG_R,FGA_R,FG%_R,...,FT%_P,ORB_P,DRB_P,TRB_P,AST_P,STL_P,BLK_P,TOV_P,PF_P,PTS_P
0,Precious Achiuwa,PF,24,NYK,49,18,24.2,3.2,6.1,0.52,...,0.38,2.4,1.8,4.2,0.6,0.4,1.3,0.4,2.2,5.2
1,Bam Adebayo,C,26,MIA,71,71,34.0,7.5,14.3,0.52,...,0.71,2.2,7.2,9.4,3.8,0.4,0.0,1.6,3.0,22.6
2,Nickeil Alexander-Walker,SG,25,MIN,82,20,23.4,2.9,6.6,0.44,...,1.00,0.3,1.4,1.8,2.3,0.6,0.4,0.9,1.5,7.3
3,Grayson Allen,SG,28,PHO,75,74,33.5,4.5,9.1,0.50,...,1.00,1.0,3.0,4.0,1.0,0.5,0.0,1.5,2.0,3.5
4,Jarrett Allen,C,25,CLE,77,77,31.7,6.7,10.6,0.63,...,0.69,3.8,10.0,13.8,1.3,1.3,1.0,1.3,2.0,17.0