# Cleaning Script
Small Cleaning script to prep the data prior to analysis. This file cleans the playoff dataset.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import numpy as np
import os

In [2]:
# The idea of changing encoding and delimeter were found through ChatGPT as importing the data using the previous method showed errors.
po = pd.read_csv("../RawData/Playoffs.csv", encoding="ISO-8859-1", delimiter= ";")

## Summary of Dataset

In [3]:
po.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,24,NYK,9,2,20.4,2.3,4.8,...,0.385,2.4,1.8,4.2,0.6,0.4,1.3,0.4,2.2,5.2
1,2,Bam Adebayo,C,26,MIA,5,5,38.4,9.6,19.4,...,0.714,2.2,7.2,9.4,3.8,0.4,0.0,1.6,3.0,22.6
2,3,Nickeil Alexander-Walker,SG,25,MIN,16,1,23.6,2.6,7.0,...,1.000,0.3,1.4,1.8,2.3,0.6,0.4,0.9,1.5,7.3
3,4,Grayson Allen,SG,28,PHO,2,2,21.5,0.5,2.5,...,1.000,1.0,3.0,4.0,1.0,0.5,0.0,1.5,2.0,3.5
4,5,Jarrett Allen,C,25,CLE,4,4,31.8,6.3,9.3,...,0.692,3.8,10.0,13.8,1.3,1.3,1.0,1.3,2.0,17.0

In [4]:
po.describe()

,Rk,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,214.000000,214.00000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,...,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,107.500000,26.88785,7.873832,3.831776,19.960280,3.101402,6.843925,0.407477,0.920561,2.700935,...,0.581682,0.829439,2.642523,3.467290,1.807944,0.538318,0.383178,0.965888,1.598131,8.445327
std,61.920648,4.55705,5.471906,5.827708,13.423708,3.023468,6.174591,0.185326,0.964169,2.492373,...,0.365173,0.917755,2.301707,2.975811,1.999526,0.499605,0.462385,0.958189,1.156243,8.244609
min,1.000000,19.00000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,54.250000,23.00000,4.000000,0.000000,6.100000,0.700000,1.725000,0.335750,0.000000,0.525000,...,0.377500,0.200000,1.000000,1.000000,0.400000,0.100000,0.000000,0.300000,0.550000,1.800000
50%,107.500000,26.00000,6.000000,0.000000,18.850000,2.000000,4.950000,0.429000,0.600000,2.100000,...,0.709500,0.500000,2.050000,2.800000,1.000000,0.400000,0.200000,0.700000,1.500000,5.650000
75%,160.750000,30.00000,11.750000,6.000000,33.525000,4.775000,10.450000,0.499000,1.500000,4.275000,...,0.866250,1.175000,3.750000,4.800000,2.300000,0.900000,0.500000,1.475000,2.450000,13.000000
max,214.000000,39.00000,22.000000,22.000000,44.500000,11.800000,26.200000,1.000000,5.000000,12.000000,...,1.000000,4.500000,12.600000,15.600000,8.800000,2.400000,2.500000,4.600000,4.500000,33.000000

In [5]:
print(po.dtypes)

Rk          int64
Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP        float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

## Rounding the Numeric columns to 2 decimal places

In [6]:
po = po.round(2)

In [7]:
po.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,24,NYK,9,2,20.4,2.3,4.8,...,0.38,2.4,1.8,4.2,0.6,0.4,1.3,0.4,2.2,5.2
1,2,Bam Adebayo,C,26,MIA,5,5,38.4,9.6,19.4,...,0.71,2.2,7.2,9.4,3.8,0.4,0.0,1.6,3.0,22.6
2,3,Nickeil Alexander-Walker,SG,25,MIN,16,1,23.6,2.6,7.0,...,1.00,0.3,1.4,1.8,2.3,0.6,0.4,0.9,1.5,7.3
3,4,Grayson Allen,SG,28,PHO,2,2,21.5,0.5,2.5,...,1.00,1.0,3.0,4.0,1.0,0.5,0.0,1.5,2.0,3.5
4,5,Jarrett Allen,C,25,CLE,4,4,31.8,6.3,9.3,...,0.69,3.8,10.0,13.8,1.3,1.3,1.0,1.3,2.0,17.0

# Removing Secondary positions
For example if a player played both the Center (C) position and the Power Forward (PF) position it would only take their "primary" position. In this case, the first position listed will be thier "Primary" position

In [8]:
po["Pos"] = po["Pos"].str.split("-").str[0]

In [9]:
po.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,24,NYK,9,2,20.4,2.3,4.8,...,0.38,2.4,1.8,4.2,0.6,0.4,1.3,0.4,2.2,5.2
1,2,Bam Adebayo,C,26,MIA,5,5,38.4,9.6,19.4,...,0.71,2.2,7.2,9.4,3.8,0.4,0.0,1.6,3.0,22.6
2,3,Nickeil Alexander-Walker,SG,25,MIN,16,1,23.6,2.6,7.0,...,1.00,0.3,1.4,1.8,2.3,0.6,0.4,0.9,1.5,7.3
3,4,Grayson Allen,SG,28,PHO,2,2,21.5,0.5,2.5,...,1.00,1.0,3.0,4.0,1.0,0.5,0.0,1.5,2.0,3.5
4,5,Jarrett Allen,C,25,CLE,4,4,31.8,6.3,9.3,...,0.69,3.8,10.0,13.8,1.3,1.3,1.0,1.3,2.0,17.0

In [10]:
print(type(po))  # Check if reg is a DataFrame or a string

<class 'pandas.core.frame.DataFrame'>

In [11]:
folder_name = "CleanData"

os.makedirs(folder_name, exist_ok=True)

cleaned_file_path = os.path.join(folder_name, "Playoffs_Cleaned.csv")
po.to_csv(cleaned_file_path, index=False)

print(f"File saved at: {cleaned_file_path}")

File saved at: CleanData\Playoffs_Cleaned.csv